<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<section class="footers bg-light pt-5 pb-3">
   <div class="container pt-5">
       <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-4 footers-one">

    		    <div class="footers-logo">

    		     <h1>   <img src="logo-header.png" alt="XZONE" style="width:120px;"> </h1>
    		    </div>
    		    <div class="footers-info mt-3">
                <p>Xzone, LLC. 203 Shelton Drive, Stafford, Virginia, 22556.</p><br>
               <p> Phone: 703-505-6753</p>
    		    </div>
    		    <div class="social-icons"> 
                <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
	            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
	        </div>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
    		    <h5>Categories </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Cleaners</a></li>
    			 <li><a href="contact.html">Beverage</a></li>
    			 <li><a href="about.html">Food</a></li>
    			 <li><a href="about.html">Beauty</a></li>
    			 <li><a href="about.html">Bakery</a></li>
    			</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
    		    <h5>Useful Links </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Home</a></li>
    			 <li><a href="contact.html">About us</a></li>
    			 <li><a href="about.html">Deals</a></li>
    			
    			</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
    		    <h5>Explore </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Login</a></li>
    			 <li><a href="contact.html">Sign Up</a></li>
    			 <li><a href="about.html">Contact Us</a></li>
    			 <li><a href="about.html">Privacy Policy</a></li>
    			 <li><a href="about.html">Terms and Conditions</a></li>
    			</ul>
    		</div>
    	   
    		 
    		
       </div>
   </div>
</section>
<section class="disclaimer bg-light border">
    <div class="container">
        <div class="row ">
           
        </div>
    </div>
</section>
<section class="copyright border">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 pt-3">
                <p class="text-muted">Copyright 2018 Xzone. All Rights Reserved. </p>
            </div>
        </div>
    </div>
</section>